main {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
}

h1 {
    margin: 0;
    margin-bottom: 1em;
    position: relative;

    &:before {
        content: '';
        border-bottom: solid 1px rgba(255,255,255,.5);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 60%;
    }
}

section {
    &.navigation {
        background: rgb(38, 35, 53);
        height: 100%;
        color: white;
        flex: 1;
        padding: 3em 0 0 3em;
    }
    &.component-viewer {
        background: rgb(247, 247, 247);
        height: 100%;
        flex: 3;
        padding: 3em;
        z-index: 10;
    }
}