@import '../../styles/animations';
@import '../../styles/variables';

section.password-strength-meter {
    text-align: center;
    animation: fadeIn $animation-time ease;

    &.exiting {
        animation: fadeOut $animation-time ease;
    }

    form {
        background: white;
        border: solid 1px #ddd;
        border-radius: 12px;
        flex: 1 1;
        margin: 2em;
        overflow: hidden;
        padding: 2em;
        position: relative;

        input {
            border: none;
            border-bottom: solid 1px #ddd;
            font-size: 1.5em;
            padding: 0 5%;
            text-align: center;
            width: 27%;
        }

        svg {
            height: 1.5em;
            left: -33px;
            position: relative;
            top: 1px;
            width: 1.25em;

            &:hover {
                cursor: pointer;
            }
        }

        ul.password-checks {
            li {
                align-items: center;
                display: flex;
                font-size: .8em;
                list-style-type: none;
                margin: 0 auto;
                width: 40%;

                div {
                    flex: 1;
                }
                div.check-box-container {
                    font-size: .6em;
                    position: relative;
                }
            }
        }
    }
}