section.password-strength-meter {
    text-align: center;

    form {
        background: white;
        border: solid 1px #ddd;
        border-radius: 12px;
        flex: 1 1;
        margin: 2em;
        padding: 2em;

        input {
            border: none;
            border-bottom: solid 1px #ddd;
            font-size: 2em;
            text-align: center;
        }

        ul.password-checks {
            li {
                align-items: center;
                display: flex;
                font-size: .8em;
                list-style-type: none;
                margin: 0 auto;
                width: 40%;

                div {
                    flex: 1;
                }
                div.check-box-container {
                    font-size: .6em;
                    position: relative;
                }
            }
        }
    }
}